html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 5px auto;
  max-width: 550px;
  line-height: 1.6;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #080;
}

h1 {
  font-size: 25px;
}
